In [5]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_csv("insurance_cleaned.csv")
df.head()

,Unnamed: 0,age,bmi,children,charges,sex_female,sex_male,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest
0,0,19,27.900,0,16884.92,1,0,0,1,0,0,0,1
1,1,18,33.770,1,1725.55,0,1,1,0,0,0,1,0
2,2,28,33.000,3,4449.46,0,1,1,0,0,0,1,0
3,3,33,22.705,0,21984.47,0,1,1,0,0,1,0,0
4,4,32,28.880,0,3866.86,0,1,1,0,0,1,0,0

In [7]:
df = df.drop(columns='Unnamed: 0')
df.head()

,age,bmi,children,charges,sex_female,sex_male,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest
0,19,27.900,0,16884.92,1,0,0,1,0,0,0,1
1,18,33.770,1,1725.55,0,1,1,0,0,0,1,0
2,28,33.000,3,4449.46,0,1,1,0,0,0,1,0
3,33,22.705,0,21984.47,0,1,1,0,0,1,0,0
4,32,28.880,0,3866.86,0,1,1,0,0,1,0,0

In [8]:
# What we want to predict
target = np.array(df.charges)

#target = df["charges"]

In [9]:
data = df.drop(["charges", "sex_male", "smoker_yes"], axis=1)
# insurance_data = data.columns -> next cell
data.head()

,age,bmi,children,sex_female,smoker_no,region_northeast,region_northwest,region_southeast,region_southwest
0,19,27.900,0,1,0,0,0,0,1
1,18,33.770,1,0,1,0,0,1,0
2,28,33.000,3,0,1,0,0,1,0
3,33,22.705,0,0,1,0,1,0,0
4,32,28.880,0,0,1,0,1,0,0

In [10]:
# Save features names for later use
data_list = list(data.columns)

In [16]:
# Convert to numpy array
data = np.array(data)

In [17]:
#df['charges'] = df.age.astype("int64")
#df.head()

In [18]:
df.dtypes

age                   int64
bmi                 float64
children              int64
charges             float64
sex_female            int64
sex_male              int64
smoker_no             int64
smoker_yes            int64
region_northeast      int64
region_northwest      int64
region_southeast      int64
region_southwest      int64
dtype: object

In [19]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data, target, random_state=42)

In [20]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=200)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

ValueError: Unknown label type: 'continuous'